body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

input {
 outline: none;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
}

button {
  padding: 0;
  cursor: pointer;
  display: inline-block;
}
a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}
// *************************

// .vjs-modal-dialog-content, 
// .vjs-error-display, 
// .vjs-modal-dialog, 
// .vjs-picture-in-picture-control, 
// .vjs-fullscreen-control,
// .vjs-menu,
// .vjs-playback-rate,
// .vjs-chapters-button,
// .vjs-audio-button,
// .vjs-subs-caps-button,
// .vjs-descriptions-button,
// .vjs-remaining-time,
// .vjs-loading-spinner,
// .vjs-big-play-button,
// .vjs-duration,
// .vjs-time-control,
// .vjs-live-control,
// .vjs-seek-to-live-control,
// .vjs-load-progress,
// .vjs-mouse-display
// {
//   display: none;
// }

// .vjs-control-bar{
//   display: flex;
//   align-items: center;
//   justify-content: space-evenly;
// }

// // .vjs-control-text{
// //   color: red;
  
  
// // }
// .vjs-play-control.vjs-paused,
// .vjs-play-control {
//   color: transparent;
// background-image: url(../images/play2.svg);
    
//     background-repeat: no-repeat;
//     display: block;
//     width: 35px;
//     height: 35px;
//     border: none;
//     background-color: transparent;
// }

// .vjs-play-control.vjs-playing {
//   color: transparent;
// background-image: url(../images/stop.svg);
  
//   background-repeat: no-repeat;
//   display: block;
//   width: 35px;
//   height: 35px;
//   border: none;
//   background-color: transparent;

// }

// .vjs-button.vjs-vol-3 {
//   color: transparent;
//   background-image: url(../images/volume-medium.svg);

//   background-repeat: no-repeat;
//   display: block;
//   width: 35px;
//   height: 35px;
//   border: none;
//   background-color: transparent;
// }

// .vjs-button.vjs-vol-0 {
//   color: transparent;
//   background-image: url(../images/volume-mute2.svg);

//   background-repeat: no-repeat;
//   display: block;
//   width: 35px;
//   height: 35px;
//   border: none;
//   background-color: transparent;

// }

// .video-js .vjs-default-skin .vjs-controls-enabled .vjs-audio .vjs-workinghover .vjs-v7 .vjs-live .vjs-has-started .vjs-paused .player-dimensions .vjs-user-inactive {
//   height: 150px!important;
// }

// .video-js {
//   height: 40px !important;
//   margin-top: 5px;
// }
#rad_block_logo{
  display: none!important;
}