body::-webkit-scrollbar {
    width: 10px;
    /* Ширина всего элемента навигации */
}

body::-webkit-scrollbar-track {
    background: #434242;
    /* Цвет дорожки */
}

body::-webkit-scrollbar-thumb {
    background-color: #eb65df;
    /* Цвет бегунка */
    border-radius: 20px;
    /* Округление бегунка */
    border: 3px solid #eb65df;
    /* Оформление границ бегунка */
}





.header{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-bottom: 20px;
    padding-top: 10px;
    
    
}
.currency{
    display: flex;
    align-items: center;
    
}
.currency div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.currency img {
    width: 56px;
    height: 48px;
    margin-right: 15px;
}
.currencyUsd{
    margin: 3px;
    font-size: 20px;
    color: aqua;
    font-family: 'DotGothic16', sans-serif;
}
.currencyEur{
    font-family: 'DotGothic16', sans-serif;
    margin: 3px;
    font-size: 20px;
    color: #eb65df;
}
/* !!!PLAYER */

.rad-list::-webkit-scrollbar {
    width: 5px;
}

.rad-list::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background: #2c2c2c;
}

.rad-list::-webkit-scrollbar-thumb {
    background-color: #eb65df;
        /* Цвет бегунка */
        border-radius: 20px;
        /* Округление бегунка */
        border: 3px solid #eb65df;
        /* Оформление границ бегунка */
}

/* !!!!!!!!!! */

body{
    background-color: #434242;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#rad_player{
    margin-left: auto;
    margin-right: auto;
}


ul{
    font-size: 18px;
    color: aliceblue;

}
li {
    list-style: none;

}
.block-day{
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

#weather-hour{
    display: flex;
    flex-wrap: wrap;
    max-width: 885px;
    padding-left: 100px;
    justify-content: space-between;
}

.ico-location{
    fill: #f9f9fd;
    margin-right: 10px;
}
.ico-thermometer{
    margin: 0;
}
svg{
    fill: #f9f9fd;
    margin-right: 7px;
}

.hour-item {
    display: flex;
    width: 260px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    height: 62px;
    /* margin-left: 15px; */
    color:aliceblue;
    border-radius: 10px;
    padding-left: 20px;
}

.hour-item-temp{
    font-size: 24px;
}

.first-day{
    color:aqua;
    display: flex;
    align-items: center;
}

.undefined {
    color: #eb65df;
    display: flex;
    align-items: center;
}
.icon-time{
    fill: currentColor;
}

/* ************ */
#weather-week {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
    color: aliceblue;
    font-size: 10px;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    
}

#weather-week ul{
    /* border: 1px solid coral; */
    margin: 0;
    padding: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    width: 200px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#weather-week li{
    margin: 0;
    font-size: 14px;
    
    
}

.condition-week {
    display: flex;
    font-size: 50px;
    font-weight: 700;
    justify-content: space-around;
}

.condition-week p {
    /* margin: 25px; */
    font-size: 26px;
}

.condition-week img {
    width: 96px;
    height: 96px;
}
.week-first-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.week-first-item p{
    font-size: 14px;
    display: flex;
    align-items: center;
}


.week-humidity{
    display: flex;
    align-items: center;
}
.week-humidity img{
    width: 32px;
    height: 32px;
}



/* ** Стили для текущего дня */
.day{
    /* border: 1px solid coral; */
        max-width: 580px;
        padding: 10px;
        margin-bottom: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
        border-radius: 10px;
}
.day-list{
    /* border: 1px solid coral; */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    padding: 10px;
    padding-left: 15px;
    border-radius: 5px;
    /* width: 500px; */
}
.update-time{
    font-size: 12px;
}
.location{
    /* border-bottom: 1px solid coral; */
    font-weight: 700;
}
.location::after{
    content: " ";
    height: 2px;
    color: red;
    display: block;
    background-image: linear-gradient(90deg, rgba(255, 128, 82, 1) 0%, rgba(255, 128, 82, 0) 100%);
}

.condition{
    display: flex;
    font-size: 50px;
    font-weight: 700;
    justify-content: space-around;
    align-items: center;
}
.condition p{
    margin: 25px;
}

.condition img{
    width: 160px;
    height: 160px;
}

.day-num{
    font-family: 'DotGothic16', sans-serif;
}

/* !!! */
.card-day{
    
    display: flex;
    width: 130px;
    height: 120px;
    flex-direction: column;
    align-items: center;
    padding: 3px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    margin-bottom: 10px;
    justify-content: space-between;
    border-radius: 5px;
    
}
.card-day span{

    font-size: 28px;
    font-weight: 600;
    /* margin-bottom: 10px; */
    margin-right: 10px;

}

.card-day p{
    font-size: 18px;
    margin-bottom: 5px;
    text-align: center;
    display: flex;
    align-items: center;
}


.card-day {

    display: flex;
    /* border: 1px solid coral; */
    width: 100%;
    flex-direction: row;
    height: 30px;
    align-items: center;
    padding: 3px;
    margin-bottom: 3px;
    justify-content: space-between;


}

.card-day span {

    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
}

.card-day p {
    font-size: 16px;
    margin: 0;
    text-align: center;
}
/* !!!!!!!!!!!!!!!!!!!1 */

.card-day p span {
    font-size: 18px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 400;
}

.card-day-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    
}
.day-wind{
    display: flex;
    align-items: center;
}
.day-wind p{
    margin-top: 7px;
    margin-right: 15px;
}

/*!!! slider */

#slider-news {
    display: flex;
    align-items: center;
    max-width: 1600px;
    height: 300px;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;

}
.limit-request{
    display: none !important;
}

#news {
    width: 1200px;
}

.news-card {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.news-card img {
    margin-right: 20px;
}

.scrol-slider-ico{
    fill: rgba(0, 255, 255, 0.151);
}

.scrol-slider-ico:hover {
    fill: aqua;
}

#slider-news button {
    background-color: transparent;
    border: none;
    padding: 15px;
    cursor: pointer;
}

.news-link{
    color: #8495e0;
}

.news-card-text{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
}

.publishedAt{
    text-align: right;
    margin-bottom: 10px;
}

.totalnews {
    margin-top: 10px;
    text-align: right;
    color: #ec5360;
}

/* ?????? spinner */

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}

@media screen and (max-width: 420px) {
    
    
    
    
    #weather-week ul {
        width: 180px;
    }
    .block-day {
        display: block;  
    }
    #weather-hour {
        padding-left: 0;
            justify-content: space-around;
    }
    .currency p{
        font-size: 15px;
    }
    .currency img{
        width: 36px;
        height: 32px;
        margin-right: 5px;
    }
    .hour-item {
        width: calc(100%/7);
        margin-right: 0;
        margin: 0;
        margin-bottom: 3px;
        flex-direction: column;
        height: 150px;
        padding: 3px;
        
    }
        .hour-item-temp {
            font-size: 16px;
            margin-top: 0px;
            margin-bottom: 5px;
        }

    .day{
        margin-top: 3px;
    }
    .card-day {
        display: flex;
        width: 100%;
        flex-direction: row;
        height: 30px;
        align-items: center;
        padding: 3px;
        margin-bottom: 3px;
        justify-content: space-between;    
    }
    .card-day span {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 0;
    }
        
        .card-day p {
            font-size: 16px;
            margin: 0;
            text-align: center;
        }
        .header {
            flex-direction: column;
            align-items: center;
        }
        #slider-news{
            display: none;
        }
        .icon-time {
            display: none;
        }
}

