<div class="calendar-clock-events">
  <div class="clock-block">
    <div class="clock">
      <div class="hour"></div>
      <div class="min"></div>
      <div class="sec"></div>
    </div>
  </div>
  <div class="calendar">
    <div class="calendar__month">
      <button class="month__btn month__btn-dn" type="button"><<</button>
      <p class="month__name">ИЮНЬ</p>
      <button class="month__btn month__btn-up" type="button">>></button>
    </div>
    <table class="calendar1">
      <tr class="calendar__week">
        <td>ПН</td>
        <td>ВТ</td>
        <td>СР</td>
        <td>ЧТ</td>
        <td>ПТ</td>
        <td class="calendar__weekend">СБ</td>
        <td class="calendar__weekend">ВС</td>
      </tr>
      <tr>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day calendar__weekend"></td>
        <td class="calendar__body-day calendar__weekend"></td>
      </tr>
      <tr>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day calendar__weekend"></td>
        <td class="calendar__body-day calendar__weekend"></td>
      </tr>
      <tr>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day calendar__weekend"></td>
        <td class="calendar__body-day calendar__weekend"></td>
      </tr>
      <tr>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day calendar__weekend"></td>
        <td class="calendar__body-day calendar__weekend"></td>
      </tr>
      <tr>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day calendar__weekend"></td>
        <td class="calendar__body-day calendar__weekend"></td>
      </tr>
      <tr>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day calendar__weekend"></td>
        <td class="calendar__body-day calendar__weekend"></td>
      </tr>
    </table>
  </div>
  <ul class="calendar__event"></ul>
</div>
