<section class="container">
  <!-- <link href="https://vjs.zencdn.net/7.17.0/video-js.css" rel="stylesheet" /> -->
  <script src="https://vjs.zencdn.net/7.17.0/video.min.js"></script>

     <script>
     function run() {
        var player = videojs('#player', { controls: true }, {'nativeAudioTracks': false, 'nativeVideoTracks': false, 'hls': { 'overrideNative': true } });        
        player.playsinline(true);            
     }
    </script>
<!-- </head> -->

<body onLoad="run()">

    <audio id="player" class="video-js vjs-default-skin" style="height:100px; width:300px" controls >
      <div class="js-station"></div>
        <source src="https://hls-02-europaplus.emgsound.ru/11/128/playlist.m3u8" type="application/x-mpegURL" />
        
        <!-- <source src="http://95.213.237.115:8000/sp320" type="application/x-mpegURL" /> -->
    </audio>
<p>evropa-plus</p>
</section>

