<div class="footer">
  <button id="theme-toggle" type="button">
    <svg width="32" height="32">
      <use id="icon-sun" href="./images/sprite.svg#icon-sun"></use>
      <use
        id="icon-moon"
        class="is-hidden"
        href="./images/sprite.svg#icon-moon"
      ></use>
    </svg>
  </button>
  <button id="settings" type="button" data-modal-open-settings>
    <svg width="32" height="32">
      <use id="icon-sun" href="./images/sprite.svg#icon-settings"></use>
    </svg>
  </button>
</div>
