<!-- Модальное окно -->
<div class="backdrop is-hidden" data-modal-1>
  <div class="modal">
    <button type="button" class="btn-close" data-modal-close-1>
      <svg class="icon-cross" width="24" height="24">
        <use href="./images/sprite.svg#icon-cross"></use>
      </svg>
    </button>
    <div id="contentModal"><h1>TEST MODAL</h1></div>
  </div>
</div>

<!-- Модальное окно 2 -->
<div class="backdrop is-hidden" value="backdrop-currecy" data-modal-2>
  <div class="modal modal-currency">
    <button type="button" class="btn-close" data-modal-close-2>
      <svg class="icon-cross" width="24" height="24">
        <use href="./images/sprite.svg#icon-cross"></use>
      </svg>
    </button>
    <div class="radiobutton-currency-buy-sell container-radio-cc">
      <div class="tabs-cc">
        <input
          type="radio"
          name="currency-converter"
          id="radio-1-cc"
          value="buy"
          checked
        /><label class="tab-cc" for="radio-1-cc">Конвертер</label>

        <input
          type="radio"
          name="currency-converter"
          id="radio-2-cc"
          value="sell"
        />
        <label class="tab-cc" for="radio-2-cc">Курс</label>
        <span class="glider-cc"></span>
      </div>
    </div>

    <div class="currency-converter" js-converter-hidden>
      <div class="radiobutton-currency-buy-sell container-radio">
        <div class="tabs">
          <input
            type="radio"
            name="currency"
            id="radio-1"
            value="buy"
            checked
          /><label class="tab" for="radio-1">Покупка</label>

          <input type="radio" name="currency" id="radio-2" value="sell" />
          <label class="tab" for="radio-2">Продажа</label>
          <span class="glider"></span>
        </div>
      </div>

      <div class="currency-blok-1">
        <div class="currency-blok-icon">
          <div class="icon-currency-1">
            <svg class="icon" width="64" height="48">
              <use href="./images/sprite.svg#icon-UAH"></use>
            </svg>
          </div>
          <select id="selected">
            <option value="UAH">UAH</option>
            <option value="USD">USD</option>
            <option value="PLN">PLN</option>
          </select>
        </div>
        <input type="number" step="1" min="0" value="1.00" data-input-1 />
      </div>
      <div class="currency-line"></div>
      <button id="expand">
        <svg class="icon-swap_vert" width="40" height="40">
          <use href="./images/sprite.svg#icon-swap_vert"></use>
        </svg>
      </button>
      <div class="currency-blok-2">
        <div class="currency-blok-icon">
          <div class="icon-currency-2">
            <svg class="icon" width="64" height="48">
              <use href="./images/sprite.svg#icon-EUR"></use>
            </svg>
          </div>
          <select id="selected2">
            <option value="EUR">EUR</option>
            <option value="USD">USD</option>
            <option value="PLN">PLN</option>
          </select>
        </div>
        <input type="number" step="1" min="0" value="1.00" data-input-2 />
      </div>
      <!--  -->
    </div>

    <div id="table" class="is-hidden2">
      <table>
        <tr>
          <td>Валюта</td>
          <td>Покупка</td>
          <td>Продажа</td>
          <td>Курс НБУ</td>
        </tr>
        <tr>
          <td>USD</td>
          <td>25.00</td>
          <td>26.00</td>
          <td>20 нбу</td>
        </tr>
        <tr>
          <td>EUR</td>
          <td>25.00</td>
          <td>26.00</td>
          <td>20 нбу</td>
        </tr>
        <tr>
          <td>PLZ</td>
          <td>25.00</td>
          <td>26.00</td>
          <td>20 нбу</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<!-- Модальное окно Settings -->
<div class="backdrop is-hidden" data-modal-settings>
  <div class="modal modal-settings">
    <button type="button" class="btn-close" data-modal-close-settings>
      <svg class="icon-cross" width="24" height="24">
        <use href="./images/sprite.svg#icon-cross"></use>
      </svg>
    </button>
    <div id="contentModal">
      <h1>Settings</h1>
      <div class="settings__item">
        <input id="settings-1" type="checkbox" />
        <p>Автоматическое изменение темы</p>
      </div>
      <div class="settings__item">
        <input id="settings-3" type="checkbox" />
        <p>Темная тема при загрузке</p>
      </div>
      <div class="settings__item">
        <input id="settings-2" type="checkbox" />
        <p>Автозапуск радио</p>
      </div>

      <!-- <div class="settings__item">
        <input disabled id="settings-4" type="checkbox" />
        <p>Сброс настроек</p>
      </div> -->
    </div>
  </div>
</div>
