<!-- <div id="table">
  <table>
    <tr>
      <td>Валюта</td>
      <td>Покупка</td>
      <td>Продажа</td>
      <td>Курс НБУ</td>
    </tr>
    <tr>
      <td>USD</td>
      <td>25.00</td>
      <td>26.00</td>
      <td>20 нбу</td>
    </tr>
    <tr>
      <td>EUR</td>
      <td>25.00</td>
      <td>26.00</td>
      <td>20 нбу</td>
    </tr>
    <tr>
      <td>PLZ</td>
      <td>25.00</td>
      <td>26.00</td>
      <td>20 нбу</td>
    </tr>
  </table>
</div> -->

<!-- <div class="widget" id="upload">
  <span><i class="bi bi-cloud-arrow-up-fill"></i></span>
  <div>
    <div>
      <h3>75%</h3>
      <span class="grey">Uploading</span>
    </div>
    <div class="progress"></div>
    <p class="lead grey">We are processing your files.</p>
  </div>
  <i class="bi bi-pause grey"></i>
</div> -->

<!-- <a href="https://imgbb.com/"
  ><img
    src="https://i.ibb.co/YcBf0gG/img-181-fm.jpg"
    alt="img-181-fm"
    border="0"
/></a>
<a href="https://imgbb.com/"
  ><img
    src="https://i.ibb.co/VwtGtMV/img-kiss-fm.jpg"
    alt="img-kiss-fm"
    border="0"
/></a>
<a href="https://ibb.co/mCbQ8yk"
  ><img
    src="https://i.ibb.co/gMmsVWN/img-nrg-radio.jpg"
    alt="img-nrg-radio"
    border="0"
/></a>
<a href="https://ibb.co/HNRLK8M"
  ><img
    src="https://i.ibb.co/B4vHfM7/img-soundpark-deep.jpg"
    alt="img-soundpark-deep"
    border="0"
/></a> -->
<!-- 
https://ibb.co/CbKVPLF
https://ibb.co/bbPVPN1
https://ibb.co/mCbQ8yk
https://ibb.co/HNRLK8M -->
<!-- <a href="https://ibb.co/CbKVPLF"
  ><img
    src="https://i.ibb.co/CbKVPLF/img-181-fm.jpg"
    alt="img-181-fm"
    border="0"
/></a>
<a href="https://ibb.co/bbPVPN1"
  ><img
    src="https://i.ibb.co/bbPVPN1/img-kiss-fm.jpg"
    alt="img-kiss-fm"
    border="0"
/></a>
<a href="https://ibb.co/mCbQ8yk"
  ><img
    src="https://i.ibb.co/mCbQ8yk/img-nrg-radio.jpg"
    alt="img-nrg-radio"
    border="0"
/></a>
<a href="https://ibb.co/HNRLK8M"
  ><img
    src="https://i.ibb.co/HNRLK8M/img-soundpark-deep.jpg"
    alt="img-soundpark-deep"
    border="0"
/></a> -->
