<div id="table">
  <table>
    <tr>
      <td>Валюта</td>
      <td>Покупка</td>
      <td>Продажа</td>
      <td>Курс НБУ</td>
    </tr>
    <tr>
      <td>USD</td>
      <td>25.00</td>
      <td>26.00</td>
      <td>20 нбу</td>
    </tr>
    <tr>
      <td>EUR</td>
      <td>25.00</td>
      <td>26.00</td>
      <td>20 нбу</td>
    </tr>
    <tr>
      <td>PLZ</td>
      <td>25.00</td>
      <td>26.00</td>
      <td>20 нбу</td>
    </tr>
  </table>
</div>

<div class="widget" id="upload">
  <span><i class="bi bi-cloud-arrow-up-fill"></i></span>
  <div>
    <div>
      <h3>75%</h3>
      <span class="grey">Uploading</span>
    </div>
    <div class="progress"></div>
    <p class="lead grey">We are processing your files.</p>
  </div>
  <i class="bi bi-pause grey"></i>
</div>
