<div class="calendar-clock-events">
  <!-- <input id="dateId" type="date" min="2022-01-01" /> -->

  <!-- <div> -->
  <!-- <div class="clock-calendar"> -->
  <!-- <div class="clock">
        <div class="hand hours"></div>
        <div class="hand minutes"></div>
        <div class="hand seconds"></div>
        <div class="point"></div>
        <div class="marker">
          <span class="marker__1"></span>
          <span class="marker__2"></span>
          <span class="marker__3"></span>
          <span class="marker__4"></span>
        </div>
      </div> -->
  <div class="clock-block">
    <div class="clock2">
      <div class="hour"></div>
      <div class="min"></div>
      <div class="sec"></div>
    </div>
  </div>
  <div class="calendar">
    <div class="calendar__month">
      <button class="month__btn month__btn-dn" type="button"><<</button>
      <p class="month__name">ИЮНЬ</p>
      <button class="month__btn month__btn-up" type="button">>></button>
    </div>
    <table class="calendar1">
      <tr class="calendar__week">
        <td>ПН</td>
        <td>ВТ</td>
        <td>СР</td>
        <td>ЧТ</td>
        <td>ПТ</td>
        <td class="calendar__weekend">СБ</td>
        <td class="calendar__weekend">ВС</td>
      </tr>
      <tr>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day calendar__weekend"></td>
        <td class="calendar__body-day calendar__weekend"></td>
      </tr>
      <tr>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day calendar__weekend"></td>
        <td class="calendar__body-day calendar__weekend"></td>
      </tr>
      <tr>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day calendar__weekend"></td>
        <td class="calendar__body-day calendar__weekend"></td>
      </tr>
      <tr>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day calendar__weekend"></td>
        <td class="calendar__body-day calendar__weekend"></td>
      </tr>
      <tr>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day calendar__weekend"></td>
        <td class="calendar__body-day calendar__weekend"></td>
      </tr>
      <tr>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day"></td>
        <td class="calendar__body-day calendar__weekend"></td>
        <td class="calendar__body-day calendar__weekend"></td>
      </tr>
    </table>
  </div>
  <ul class="calendar__event"></ul>
  <!-- </div> -->

  <!-- </div> -->
</div>
