<div class="day">
  <div class="day-list">
    <div class="location">
      <button class="button-location" value="location" type="button">
        &#128204;
      </button>
      <div class="inputbox">
        <input required="required" id="city" /><span>${country}, ${city} </span
        ><i></i>
      </div>
      <button class="button-search" type="button" value="search">🔍︎</button>
    </div>
    <div>${timeZone}, ${dayAndMonth}</div>
    <p class="condition-text">${conditionText}</p>
    <div class="condition">
      <div class="condition-block-left">
        <span>${temperature}°</span>
        <div class="condition-block-small">
          <p class="condition-block-item">
            <svg class="icon-pressure" width="24" height="24">
              <use href="${sprite}#icon-pressure"></use>
            </svg>
            ${pressure_mb}мм
          </p>

          <p class="condition-block-item">
            <svg class="icon-cloudy" width="24" height="24">
              <use href="${sprite}#icon-cloudy"></use>
            </svg>
            ${cloud} %
          </p>
          <p class="condition-block-item">
            <svg class="icon-eye" width="24" height="24">
              <use href="${sprite}#icon-eye"></use>
            </svg>
            ${vis_km} км
          </p>
          <p class="condition-block-item">
            <svg class="icon-humidity" width="24" height="24">
              <use href="${sprite}#icon-humidity"></use>
            </svg>
            ${humidity} %
          </p>
        </div>
      </div>

      <div class="condition-block">
        <img src="//cdn.weatherapi.com/weather/128x128${icon}" widh="128" />
      </div>
    </div>
    <div class="condition-block-bottom">
      <div>
        <p class="condition-block-item">
          <svg width="32" height="32">
            <use href="${sprite}#icon-sunrise"></use></svg
          >${sunrise}
        </p>
        <p class="condition-block-item">
          <svg width="32" height="32">
            <use href="${sprite}#icon-sunset"></use></svg
          >${sunsetH}:${sunsetM}
        </p>
      </div>
      <div>
        <p class="day-wind">
          <svg width="24" height="24">
            <use href="${sprite}#icon-air-sock"></use></svg
          >${wind_ms} м/с
          <svg
            width="30"
            height="30"
            style="transform: rotate(${wind_degree}deg)"
          >
            <use href="${sprite}#icon-wind-w"></use>
          </svg>
        </p>
        <p class="condition-block-item">
          <svg width="24" height="24">
            <use href="${sprite}#icon-sun"></use></svg
          >${uv}/10 UV
        </p>
        <p class="condition-block-item">
          <svg width="24" height="24">
            <use href="${sprite}#icon-wind"></use></svg
          >${maxwind_ms} м/с
        </p>
        <p class="condition-block-item">
          <svg width="24" height="24">
            <use href="${sprite}#icon-opacity"></use></svg
          >${precip_mm} мм
        </p>
      </div>
    </div>
  </div>

  <p class="update-time">
    Местное время, когда данные в реальном времени были обновлены:
    ${data.forecast.forecastday[0].day.last_updated}
  </p>
</div>
