<div class="block-day">
  <div id="weather-day"></div>
  <div class="block-hours-days">
    <div class="block-weather-detail container-radio-weather">
      <div class="tabs-weather">
        <input
          type="radio"
          name="weather"
          id="radio-1-weather"
          value="true"
          checked
        /><label class="tab-weather" for="radio-1-weather"
          >Погода на 24 часа</label
        >
        <input type="radio" name="weather" id="radio-2-weather" value="false" />
        <label class="tab-weather" for="radio-2-weather">Погода на 4 дня</label>
        <span class="glider-weather"></span>
      </div>
    </div>
    <div id="weather-hour"></div>
  </div>
</div>

<div id="testId"></div>
<!-- <div id="weather-week"></div> -->
<!-- #testId -->
