.currency-card {
  display: flex;
  align-items: center;
  box-shadow: var(--box-shedow-1);
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  justify-content: space-between;
}

.currency img {
  width: 56px;
  height: 48px;
  margin-right: 15px;
}
.currency-text {
  margin: 3px;
  font-size: 20px;
  color: var(--accent-color-2);
  font-family: 'DotGothic16', sans-serif;
}
.currency-eur {
  font-family: 'DotGothic16', sans-serif;
  margin: 3px;
  font-size: 20px;
  color: var(--accent-color-1);
}
.currency-block {
  display: flex;
  & div + div {
    margin-left: 40px;
  }
}

.currency-name-muy-sell {
  text-align: center;
  margin-bottom: 10px;
  color: var(--font-color);
}

.js-spinner {
  width: 450px;
  height: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
}
