.footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  box-shadow: var(--box-shedow-1);
  border-radius: 15px;
  margin-bottom: 10px;
  padding: 30px;
  padding-bottom: 30px;
}

#theme-toggle {
  display: flex;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: none;
  border: 1px solid var(--main-text-color);
  & svg {
    margin: 0;
  }
}

#settings {
  display: flex;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: none;
  border: 1px solid var(--main-text-color);
  & svg {
    margin: 0;
  }
}

.settings__item {
  display: flex;
  & input {
    margin-right: 10px;
  }
}
