.footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  box-shadow: var(--box-shedow-1);
  border-radius: 15px;
  margin-bottom: 10px;
  padding: 30px;
  padding-bottom: 30px;
}

#theme-toggle,
#settings {
  @extend .button;
  width: 48px;
  height: 48px;
  border: 2px solid var(--main-text-color);
}

.settings__item {
  display: flex;
  & input {
    margin-right: 10px;
  }
}
