@media screen and (max-width: 420px) {
  #radio_container {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #radio_container div {
    margin-right: auto;
    margin-left: auto;
  }

  .block-day {
    display: block;
  }

  .currency-card {
    // width: 100%;
  }
  .currency-block {
    display: flex;
    & div + div {
      margin-left: 20px;
    }
  }

  .currency-card p {
    font-size: 16px;
    // font-size: calc(1em - 1vw);
  }
  .currency-card img {
    width: 48px;
    height: 36px;
    margin-right: 5px;
  }
  .hour-item {
    width: calc((100% - 30px) / 6);
    margin-right: 0;
    margin: 0;
    margin-bottom: 3px;
    flex-direction: column;
    height: 150px;
    padding: 3px;
  }
  .hour-item img {
    width: 60px;
    height: 60px;
  }

  .hour-item-temp {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 5px;
  }

  .day {
    margin-top: 3px;
  }
  .card-day {
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 30px;
    align-items: center;
    padding: 3px;
    margin-bottom: 3px;
    justify-content: space-between;
  }
  .card-day span {
    margin-bottom: 0;
  }

  .card-day p {
    font-size: 16px;
    margin: 0;
    text-align: center;
  }
  .header {
    flex-direction: column;
    align-items: center;
  }
  #slider-news {
    display: none;
  }
  .icon-time {
    display: none;
  }

  .icon-EUR,
  .icon-USD {
    width: 64px;
    height: 48px;
    margin-right: 0;
  }
  .condition-week {
    flex-direction: column;
    align-items: center;
  }

  .panel-weather-day {
    // height: 100%;
    padding: 10px;
    & .condition-text {
      height: 40px;
      text-align: center;
    }
  }

  .tab-weather {
    font-size: 18px;
  }

  .glider-weather {
    width: calc((100% - 20px) / 2);
  }

  #currency-eur,
  #currency-usd {
    width: 100%;
  }
}
