/*! Модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-modal);
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  // height: 400px;
  padding: 15px;
  background-color: var(--background-color);
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 10px;
  box-shadow: var(--box-shedow-1);
  color: var(--font-color);
  & input,
  & select {
    color: var(--font-color);
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.is-hidden2 {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  display: none;
}
.is-hidden3 {
  height: 0;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  display: none;
}

#table {
  margin-bottom: 144px;
}

.icon-modal {
  display: block;
}

.modal-btn:hover,
.modal-btn:focus {
  fill: var(--accent-color);
}

.modal img {
  /* width: 100vw; */
  height: 100vh;
}

.icon-cross {
  fill: currentColor;
  display: block;
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal .btn-close {
  border: none;
  background: transparent;
  position: absolute;
  right: 20px;
  cursor: pointer;
  color: rgba(235, 101, 224, 0.5);
}
.modal .btn-close:hover {
  color: var(--accent-color-1);
}

.icon-cross:hover {
  fill: currentColor;
  transform: rotate(90deg);
}

/* ***** MODAL CURENCY */

.modal-currency {
  width: 370px;
}

.selected-none {
  display: none;
}
#expand {
  display: block;
  position: relative;

  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  z-index: 2;
  cursor: pointer;
  border-radius: 5px;
  background: var(--background-color);
  box-shadow: var(--box-shedow-1);
}
// !!!!!        MODAL NEWS      !!!!!

.news-card-modal h2 {
  padding-left: 30px;
  padding-right: 30px;
}

.news-card-modal img {
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.news-card-content-modal::-webkit-scrollbar {
  width: 10px;
  /* Ширина всего элемента навигации */
}

.news-card-content-modal::-webkit-scrollbar-track {
  background: hsla(0, 1%, 26%, 0.438);
  /* Цвет дорожки */
}

.news-card-content-modal::-webkit-scrollbar-thumb {
  background-color: var(--accent-color-1);
  /* Цвет бегунка */
  border-radius: 20px;
  /* Округление бегунка */
  border: 3px solid var(--accent-color-1);
  /* Оформление границ бегунка */
}

.news-card-content-modal {
  overflow-y: scroll;
  height: 280px;
  /* padding-right: 5px; */
  padding: 10px;
  margin-top: 10px;
}

// !!!!!        MODAL CURRENCY      !!!!!

#sell,
#buy {
  width: 40px;
}

.currency-converter {
  display: flex;

  flex-direction: column;
  margin-bottom: 20px;
}
.currency-converter input {
  border: none;
  border-bottom: 1px solid #000;
  width: 150px;
  font-size: 24px;
  text-align: right;
  background: var(--background-color);
}

select {
  background: var(--background-color);
  border-radius: 10px;
}

.currency-line {
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  height: 1px;
  width: 100%;
  display: block;
  position: absolute;
  top: 283px;
  z-index: -1;
  left: 0px;
}

.currency-blok-1,
.currency-blok-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  & input:focus,
  & input:hover {
    outline: none;
  }
  & input::-webkit-outer-spin-button,
  & input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
}

.currency-blok-2 p {
  margin-right: 15px;
}

.currency-blok-icon {
  display: flex;
}

.icon-swap_vert {
  fill: var(--accent-color-2);
  margin: 0;
  display: block;
}
select {
  cursor: pointer;
}

.radiobutton-currency-buy-sell {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  //   font-size: 18px;
}

// ????????????????????????????????????????????????????????
.container-radio-cc {
  padding-top: 30px;
}
.tabs-cc {
  display: flex;
  position: relative;
  padding: 0.75rem;
  border-radius: 99px;
  width: 100%;
}

.tabs-cc * {
  z-index: 2;
}

.container-radio-cc input[type='radio'] {
  display: none;
}

.tab-cc {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: calc((100% / 2));
  font-size: 20px;
  color: var(--font-color);
  font-weight: 500;
  border-radius: 99px;
  cursor: pointer;
  transition: color 0.15s ease-in;
  padding-bottom: 3px;
}

.container-radio-cc input[type='radio']:checked + label {
  color: var(--accent-color-2);
}

.container-radio-cc input[type='radio']:checked + label > .notification {
  background-color: #185ee0;
  color: var(--accent-color-2);
  margin: 0px;
}

.container-radio-cc input[id='radio-1-cc']:checked ~ .glider-cc {
  transform: translateX(0);
}

.container-radio-cc input[id='radio-2-cc']:checked ~ .glider-cc {
  transform: translateX(100%);
}

// .container-radio input[id='radio-3']:checked ~ .glider {
//   transform: translateX(200%);
// }

.glider-cc {
  position: absolute;
  display: flex;
  height: 30px;
  width: calc((100% - 20px) / 2);
  z-index: 1;
  border-radius: 99px;
  transition: 0.25s ease-out;
  background: var(--background-color);
  box-shadow: var(--box-shedow-1);
}

// ------------------------

.tabs {
  display: flex;
  position: relative;
  padding: 0.75rem;
  border-radius: 99px;
  width: 225px;
}

.tabs * {
  z-index: 2;
}

.container-radio input[type='radio'] {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 100px;
  font-size: 20px;
  color: var(--font-color);
  font-weight: 500;
  border-radius: 99px;
  cursor: pointer;
  transition: color 0.15s ease-in;
  padding-bottom: 3px;
}

.container-radio input[type='radio']:checked + label {
  color: var(--accent-color-2);
}

.container-radio input[type='radio']:checked + label > .notification {
  background-color: #185ee0;
  color: var(--accent-color-2);
  margin: 0px;
}

.container-radio input[id='radio-1']:checked ~ .glider {
  transform: translateX(0);
}

.container-radio input[id='radio-2']:checked ~ .glider {
  transform: translateX(100%);
}

// .container-radio input[id='radio-3']:checked ~ .glider {
//   transform: translateX(200%);
// }

.glider {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 30px;
  width: 100px;
  z-index: 1;
  border-radius: 99px;
  transition: 0.25s ease-out;
  background: var(--background-color);
  box-shadow: var(--box-shedow-1);
}

#tamle {
  display: none;
}

td {
  text-align: center;
  border: 1px solid #000;
  // background-color: rgba(0, 0, 0, 0.1);
  padding-top: 5px;
  padding-bottom: 5px;
}
th {
  border: 1px solid #000;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 5px;
  padding-bottom: 5px;
}
table {
  border: 2px solid #000;
}
