/*!!! slider */

#slider-news {
  display: flex;
  align-items: center;
  height: 350px;
  justify-content: space-between;
  margin-bottom: 20px;
  color: var(--font-color);
}
.limit-request {
  display: none !important;
}

#news {
  width: 1200px;
  box-shadow: var(--box-shedow-1);
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.spinner-news {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 240px;
  align-items: center;
}

.news-card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-left: 20px;
  margin-right: 20px;
}

.news-card img {
  margin-right: 20px;
}

.news-card-content::-webkit-scrollbar {
  width: 10px;
}

.news-card-content::-webkit-scrollbar-track {
  background: var(--background-color);
}

.news-card-content::-webkit-scrollbar-thumb {
  background-color: var(--accent-color-1);
  border-radius: 20px;
  border: 3px solid var(--accent-color-1);
}

.news-card-content {
  overflow-y: scroll;
  height: 200px;
  padding-right: 5px;
}

.scrol-slider-ico {
  @extend .button;
  fill: var(--accent-color-2-2);
  margin: 0;
}

.scrol-slider-ico:hover {
  fill: var(--accent-color-2);
}

#slider-news button {
  background-color: transparent;
  border: none;
  padding: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
#slider-news button:active {
  border-radius: 50px;
}

.news-link {
  color: #8495e0;
}

.news-card-text {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
}

.publishedAt {
  text-align: right;
  margin-bottom: 10px;
}

.totalnews {
  margin-top: 10px;
  text-align: center;
  color: #ec5360;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 15px;
  width: 80px;
  margin-left: auto;
}
