/*!!! slider */

#slider-news {
  display: flex;
  align-items: center;
  max-width: 1600px;
  height: 350px;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}
.limit-request {
  display: none !important;
}

#news {
  width: 1200px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.spinner-news {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 240px;
  align-items: center;
}

.news-card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.news-card img {
  margin-right: 20px;
}
/* ****************************************************************************************** */

.news-card-content::-webkit-scrollbar {
  width: 10px;
  /* Ширина всего элемента навигации */
}

.news-card-content::-webkit-scrollbar-track {
  background: #434242;
  /* Цвет дорожки */
}

.news-card-content::-webkit-scrollbar-thumb {
  background-color: #eb65df;
  /* Цвет бегунка */
  border-radius: 20px;
  /* Округление бегунка */
  border: 3px solid #eb65df;
  /* Оформление границ бегунка */
}

.news-card-content {
  overflow-y: scroll;
  height: 200px;
  padding-right: 5px;
}

.scrol-slider-ico {
  fill: rgba(0, 255, 255, 0.151);
}

.scrol-slider-ico:hover {
  fill: aqua;
}

#slider-news button {
  background-color: transparent;
  border: none;
  padding: 15px;
  cursor: pointer;
}

.news-link {
  color: #8495e0;
}

.news-card-text {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
}

.publishedAt {
  text-align: right;
  margin-bottom: 10px;
}

.totalnews {
  margin-top: 10px;
  text-align: right;
  color: #ec5360;
}
