@font-face {
  font-family: 'Alarm Clock';
  src: url('../font/alarm_clock.ttf') format('truetype');
}

.radio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--box-shedow-1);
  max-width: 550px;
  padding: 15px;
  border-radius: 15px;
  color: var(--font-color);
}
#play {
  @extend .button;
}
.radio__volume {
  box-shadow: var(--box-shedow-1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  & #volume {
    cursor: pointer;
  }
  // & input[type='range']::after::-webkit-slider-thumb {
  //   content: '50%';
  // }
}

.radio__control {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 15px;
  margin-right: 15px;
  & #select-station {
    font-size: 18px;
  }
}
.radio__img {
  & img {
    height: 128px;
    width: 128px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
  }
}
.radio__time {
  font-size: 24px;
  // font-family: 'Orbitron', sans-serif;
  font-family: 'Alarm Clock', Arial, serif;
  width: 115px;
  text-align: center;
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px rgb(25, 118, 210);
  cursor: pointer;
  margin-left: 18px;
}

#select-station {
  box-shadow: var(--box-shedow-1);
  color: var(--font-color);
}

@media screen and (max-width: 420px) {
  .radio {
    padding: 10px;
    padding-left: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
  }
  .radio__control {
    padding-right: 0;
    margin: 0;
  }
  .radio__volume {
    & #volume {
      cursor: pointer;
      width: 80px;
    }
  }
  .radio__img {
    & img {
      height: 96px;
      width: 96px;
      border-radius: 10px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    }
  }
  .radio__time {
    margin-left: 0;
  }
}
.control__time {
  padding-right: 24px;
  display: flex;
  & svg {
    fill: transparent;
    margin: 0;
    margin-top: 3px;
    margin-left: 10px;
  }
}

#ico-alarms.blink {
  fill: var(--accent-color-1);
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-duration: 2s;
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
  -webkit-animation-duration: 2s;
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!111

.backdrop .radio__modal {
  width: 360px;
  height: 500px;
}
.block__timer-set {
  display: flex;
}
.block__timer {
  display: flex;
  flex-direction: column;

  & .radio__time {
    font-family: 'Alarm Clock', Arial, serif;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 28px;
  }
  & .input__timer {
    font-family: 'Orbitron', sans-serif;
    background-color: transparent;
    width: 240px;
    margin-left: 10px;
    text-align: center;
    font-size: 30px;
  }
}
#start-timer {
  cursor: pointer;
  border-radius: 50%;
  background: transparent;
  margin-left: 20px;
  margin-right: 10px;
  padding: 5px;
  width: 50px;
  height: 50px;
  & #icon-add_alarm {
    margin: 0;
  }
}

.btn {
  @extend .button;
}

//
//
//
