.block-day {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  font-size: 16px;
  color: var(--font-color);
  //
  // !!!!! DAY  --  Стили для текущего дня!!!!!!!!!
  //
  & .day-list {
    box-shadow: var(--box-shedow-1);
    padding: 10px;
    padding-left: 15px;
    border-radius: 10px;
    padding-top: 20px;
    font-size: 18px;
    & .location {
      display: flex;
      align-items: baseline;
      & .button-location {
        background: transparent;
        border: none;
        cursor: pointer;
      }
      //* Стили для input поиска города
      & .inputbox {
        position: relative;
        width: 300px;

        & #city {
          position: relative;
          width: 100%;
          padding: 15px 10px 15px;
          background: transparent;
          outline: none;
          box-shadow: none;
          border: none;
          color: var(--font-color);
          letter-spacing: 0.05em;
          transition: 0.5s;
          z-index: 10;
        }

        & span {
          position: absolute;
          left: 0;
          padding: 20px 10px 10px;
          letter-spacing: 00.05em;
          transition: 0.5s;
          pointer-events: none;
        }

        & #city:valid ~ span,
        & #city:focus ~ span {
          transform: translateX(-10px) translateY(-34px);
          font-size: 14px;
          font-weight: 400;
        }

        & i {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 0px;
          background: rgba(255, 255, 255, 0.15);
          border-radius: 4px;
          transition: 0.5s;
          pointer-events: none;
          z-index: 9;
        }

        & #city:valid ~ i,
        & #city:focus ~ i {
          height: 44px;
        }
      }
    }
    & .location-line {
      content: '';
      height: 2px;
      color: red;
      display: block;
      width: 100%;
      background-image: linear-gradient(
        90deg,
        rgba(255, 128, 82, 1) 0%,
        rgba(255, 128, 82, 0) 100%
      );
    }
    //
  }
  & #weather-day {
    margin-top: 65px;
  }

  //
}

.button-search {
  background: transparent;
  border: none;
  color: var(--font-color);
  cursor: pointer;
}

.condition-text {
  text-align: right;
  margin-bottom: 0;
}

.condition {
  display: flex;
  font-size: 84px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

.condition div p {
  font-size: 18px;
}

.condition img {
  width: 160px;
  height: 160px;
}

.condition-block-left {
  width: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.condition-block-left span {
  margin-bottom: 20px;
}

.condition-block-small {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.condition-block-small p:nth-child(2n + 1) {
  margin-right: 5px;
}

.condition-block-item {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 10px;
}

.condition-block {
  width: 220px;
  padding-left: 10px;
  display: flex;
  flex-direction: column-reverse;
  text-align: right;
}

.condition-block img {
  margin-left: auto;
  display: block;
}

.condition-block-bottom {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-right: 20px;
  margin-bottom: 20px;
}

.update-time {
  font-size: 12px;
}

// ???????????????????????????????????????????????????????????????
// !!!!!!!!!!!!!!!!!!!!
// ????? HOUR

.month-precipitation {
  height: 40px;
  text-align: center;
}

.block-weather-detail {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.tabs-weather {
  display: flex;
  position: relative;
  padding: 0px 10px 10px 10px;
  border-radius: 99px;
  width: 1000px;
}

.tabs-weather * {
  z-index: 2;
}

.container-radio-weather input[type='radio'] {
  display: none;
}

.tab-weather {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: calc(100% / 2);
  font-size: 20px;
  color: var(--font-color);
  font-weight: 500;
  border-radius: 99px;
  cursor: pointer;
  transition: color 0.15s ease-in;
  padding-bottom: 3px;
}

.container-radio-weather input[type='radio']:checked + label {
  color: var(--accent-color-2);
}

.container-radio-weather input[type='radio']:checked + label > .notification {
  background-color: #185ee0;
  color: var(--accent-color-2);
  margin: 0px;
}

.container-radio-weather input[id='radio-1-weather']:checked ~ .glider-weather {
  transform: translateX(0);
}

.container-radio-weather input[id='radio-2-weather']:checked ~ .glider-weather {
  transform: translateX(100%);
}

.glider-weather {
  position: absolute;
  display: flex;
  height: 30px;
  width: calc(100% / 2);
  z-index: 1;
  border-radius: 10px;
  transition: 0.25s ease-out;
  background: var(--background-color);
  box-shadow: var(--box-shedow-1);
}

// ???????????????????????????????????????????????????????????????
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!

#weather-hour {
  display: flex;
  flex-wrap: wrap;
  max-width: 1090px;
  justify-content: space-between;
}

.ico-location {
  fill: var(--font-color);
  margin-right: 10px;
}
.ico-thermometer {
  margin: 0;
}
svg {
  fill: var(--font-color);
  margin-right: 7px;
}

.hour-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  border-radius: 10px;
  box-shadow: var(--box-shedow-1);
  width: calc((100% - 100px) / 8);
  margin-right: 0;
  margin: 0;
  margin-bottom: 21px;
  flex-direction: column;
  padding: 10px 10px;
}

.hour-item:nth-last-child(-n + 8) {
  margin-bottom: 0px;
}

.hour-item-temp {
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 15px;
}

.hour-item-temp {
  font-size: 24px;
}

.first-day {
  color: var(--accent-color-2);
  display: flex;
  align-items: center;
  margin: 14px;
}

.undefined {
  color: var(--accent-color-1);
  display: flex;
  align-items: center;
  margin: 14px;
}

.icon-time {
  fill: currentColor;
}
